{% extends 'base.html' %}


{% block title %}Leave Requests{% endblock title %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
    {% endif %}
    <ul>
        <li>
            <a href="{% url 'leave:leave_request_new' %}">Create a new leave request</a>
        </li>
    </ul>
    <h2>Leave Requests</h2>
        <table>
            <th>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type of Leave</th>
                    <th>Duration (in days)</th>
                </tr>
            </th>
            <tr>
                {% for leave_request in object_list %}
                <td>{{ leave_request.id }}</td>
                <td>
                    <a href="{% url 'leave:leave_request_edit' leave_request.pk %}"> {{ leave_request.name }}</a>
                </td>
                <td>{{ leave_request.start_date }}</td>
                <td>{{ leave_request.end_date }}</td>
                <td>{{ leave_request.type_of_leave }}</td>
                <td>{{ leave_request.end_date|timeuntil:leave_request.start_date }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock content %}